<%- include("partials/header") %>

<div class="console">
  <h1>
    Admin Console<br />
    <a href="/logout"
      ><button class="btn btn-danger pr-3 pl-3 mt-3">Logout</button></a
    >
  </h1>
  <div>
    <a href="#users-teams">Users & Teams</a>
    <a href="#Questions">Questions</a>
  </div>
  <div id="Questions">
    <h2>Questions</h2>
  </div>
  <div id="users-teams">
    <h2>Users & Teams</h2>
    <h5>Number of users: <%= users.length %></h5>
    <h5>
      Teams: <% const teams = (users.length-1)%5 > 0 ?
      Math.floor((users.length-1)/5) + 1 : Math.floor((users.length-1)/5); %>
      <%= teams %>
    </h5>
  </div>
  <form action="/admin-home" class="row" method="post">
    <% for ( var i = 0; i < users.length; i++) {%>
    <div class="col-lg-3 col-md-4 user-col">
      <div class="user-box">
        <h2><%= users[i].fullName %></h2>
        <a
          href="javascript:void(0);"
          onclick="window.open ('/delete/<%=users[i].id%>', ''); return false"
          ><button class="btn btn-info">Delete User</button></a
        >
        <p><%= users[i].course %></p>
        <p>Year: <%= users[i].year %></p>
        <p><%= users[i].email %></p>
        <p><%= users[i].phoneNumber %></p>
        <div>
          <input
            type="text"
            name="username"
            id="username"
            disabled
            value="<%=users[i].username%>"
          />
          <h5>Team Number</h5>
          <select name="<%= users[i].username %>">
            <% for (var j = 0; j < teams; j++) { if (users[i].group === 'team-'
            + (j+1)) { %>
            <option value="<%= 'team-' + (j+1) %>" selected>
              Team <%= j+1 %>
            </option>
            <% } else { %>
            <option value="<%= 'team-' + (j+1) %>">Team <%= j+1 %></option>
            <% } %> <% } %>
          </select>
        </div>
      </div>
    </div>
    <% } %>
    <button class="btn btn-lg btn-danger mt-3">Submit</button>
  </form>
  <!-- <div>
    <h2>Formatted Users Table</h2>
    <table>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Course</th>
        <th>Year</th>
        <th>Roll No</th>
        <th>Username</th>
        <th>Team</th>
      </tr>
      <% for (var i = 0; i < users.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].fullName %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].phone %></td>
        <td><%= users[i].course %></td>
        <td><%= users[i].year %></td>
        <td><%= users[i].rollNo %></td>
        <td><%= users[i].username %></td>
        <td><%= users[i].group %></td>
      </tr>
      <% } %>
    </table>
    <button class="btn btn-info text-light mt-3 btn-lg" id="csv-btn">
      Download CSV
    </button>
    <script src="js/csv.js"></script>
  </div> -->
</div>

<%- include("partials/footer") %>
